OutputAnalysis/
Onnx/
TreeForTrainingBkg/
TreeForTrainingSignal/
hipe4ml/
Fake/
AnalysisResults/
AnalysisNote/
ModelHandler/
TrainingPlots/
PresentationsAtMeetings/
.DS_Store
.vscode/
*.png
*.root
*.pdf
*.log
*.txt
*.pptx

