OutputAnalysis/
Onnx/
TreeForTrainingBkg/
TreeForTrainingSignal/
hipe4ml/
Fake/
AnalysisResults/
AnalysisNote/
ModelHandler/
TrainingPlots/
PresentationsAtMeetings/
share/
lib/
include/
bin/
*.cfg
QCPlots/
*.out
.DS_Store
.vscode/
*.png
*.root
*.pdf
*.log
*.txt
*.pptx
*pcm
*.d
*.so
